<div class="container">
    <br>
    <h3 class="text-center text-uppercase font-weight-bold paddingTop" style="color: white">My Recipes</h3>
    <br>
    <div id="outer">
        <a style="float: left; width: 200px" class="inner nav-item nav-link active" routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}" routerLink="/" >Home</a>
        <!-- <a style="float: left; width: 200px" class="inner" routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}" routerLink="/" >Add Recipe</a>
        <a style="float: left; width: 200px" class="inner"routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}" routerLink="/" >All Recipe</a> -->
    </div>
    <!-- <div>
            <a class="nav-item nav-link active" routerLinkActive="active"
              [routerLinkActiveOptions]="{exact: true}" routerLink="/">Home<span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" routerLinkActive="active"
              routerLink="about-us">About Us</a>
            <a class="nav-item nav-link" routerLinkActive="active"
              routerLink="user-info">User Info</a>
            <a class="nav-item nav-link" routerLinkActive="active"
              routerLink="contact-us">Contact Us</a>        
    </div> -->
    <br>
    <br>
    <form class="example" action="action_page.php">
        <input type="text" placeholder="Search.." name="search">
        <button type="submit">Search</button>
      </form>
      <br>

      <h3 class="font-weight-bold paddingTop" style="color: white">Favourites</h3>

    <div *ngIf="RecipeArray.length > 0;else noDataFound">
        <div class="row ">
            <div class="col-md-3 d-flex justify-content-around paddingTop" *ngFor="let recipe of RecipeArray">
                <div class="card border-dark" appHighlight>
                    <img src="{{ recipe.image }}" class="card-img-top custom-img" alt="Not Found" onerror="this.src='https://cdn.dribbble.com/users/189859/screenshots/3639645/abc.gif'">
                    <div class="card-body">
                        
                        <div class="row marginStart">
                            <div class="col-s-14">
                                   <h3>{{recipe.name}}</h3> 
                            </div>
                            <div class="col-s-2 veg-Non-Veg" [ngClass] = "recipe.type == 'Veg' ? 'veg' : 'non-veg'">                                    
                            </div>
                        </div>
                        <h6>👩‍🍳 {{recipe.chef}}</h6>
                        <p class="card-text">{{recipe.description}}</p>
                        
                    </div>

                </div>
            </div>
        </div>
    </div>

    <ng-template #noDataFound>
        <div>
            <h3 class="text-center" style="color:white">No Recipe Found</h3>
        </div>
    </ng-template>
</div>