.custom{
    height: 30px;
    width: 300px;
}


.example-element {
    margin-bottom: -10px;
  }
  
.form-padding{
    padding: 25px
}

.form-bg-img {
    /* The image used */
    background-image: url("src/assets/formBgImage.jpeg");
  
    /* Control the height of the image */
    
  
   
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }

.marginTop{
  padding-top: 15px
}
.marginTopMedium{
  padding-top: 3px
}
.light {
  opacity: 1;

}
.dark {
  opacity: 0.5;
}
.column {
  float: left;
  width: 50%;
}
.paddingStart {
  margin: 5px;
}
