<div class = "bg-img">
    <div>

    <div>
        <a style="float: left; width: 200px" class="inner nav-item nav-link active" routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}" routerLink="/" >Home</a>
        <a style="float: left; width: 200px" class="inner" routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}" routerLink="/addRecipe" >Add Recipe</a>
        <a style="float: left; width: 200px" class="inner"routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}" routerLink="/allRecipe" >All Recipe</a>
    </div>
    <br>
    <br>
    <router-outlet>

    </router-outlet>
</div>

</div>