.bg-img {
    /* The image used */
    background-image: url("src/assets/bgImage.jpg");
    /* Control the height of the image */
    min-height: 1080px;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  a:link, a:visited { 
   text-emphasis-color: white;
    color: white; 
    padding: 10px 25px; 
    text-align: center; 
    text-decoration: none; 
    display: inline-block; 
 } 
 a:hover, a:active {
    background-color: #BD9696;
 }