.bg-img {
    /* The image used */
    background-image: url("src/assets/bgImage.jpg");
  
    /* Control the height of the image */
    min-height: 1080px;
  
   
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }