<div class="container">
    <h3 class="text-center text-uppercase font-weight-bold paddingTop" style="color: white">List of Recipes</h3>

    <div *ngIf="RecipeArray.length > 0;else noDataFound">
        <div class="row ">
            <div class="col-md-3 d-flex justify-content-around paddingTop" *ngFor="let recipe of RecipeArray">
                <div class="card border-dark" appHighlight>
                    <img src="{{ recipe.image }}" class="card-img-top" alt="..." >
                    <div class="card-body">
                        <div>
                            <h5>{{recipe.name}}</h5>&nbsp;<span class="Veg-Non-veg">n</span>
                        </div>
                        <h6>👩‍🍳 {{recipe.chef}}</h6>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti, 
                            consectetur unde animi cum nesciunt sint, blanditiis ratione nostrum corporis error </p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Type : {{recipe.type}}</small>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <ng-template #noDataFound>
        <div>
            <h3 class="text-center" style="color:white">No Data Found</h3>
        </div>
    </ng-template>
</div>