<div class="container">
    <h3 class="text-center text-uppercase font-weight-bold paddingTop" style="color: white">List of Recipes</h3>

    <div *ngIf="RecipeArray.length > 0;else noDataFound">
        <div class="row ">
            <div class="col-md-3 d-flex justify-content-around paddingTop" *ngFor="let recipe of RecipeArray">
                <div class="card border-dark" appHighlight>
                    <img src="{{ recipe.image }}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{recipe.name}}</h5>
                        <h6>👩‍🍳 {{recipe.chef}}</h6>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti,
                            consectetur unde animi cum nesciunt sint, blanditiis ratione nostrum corporis error </p>
                        <div *ngIf="recipe.type == nv ; else greenButton">
                            <button class="non-veg">{{recipe.type}}</button>
                        </div>
                        <ng-template #greenButton>
                            <button class="veg">{{recipe.type}}</button>
                        </ng-template>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <ng-template #noDataFound>
        <div>
            <h3 class="text-center" style="color:white">No Data Found</h3>
        </div>
    </ng-template>
</div>