.custom-img {
    height: 20px;
}

.paddingTop{
    margin-top: 10px
}

.non-veg {
    background-color: red;
}
.veg{
    background-color: green;
}

.dot {
    height: 5px;
    width: 5px;
    border-radius: 50%;
    display: inline-block;
  }

.veg-Non-Veg{
    position: relative;
    height: 10px;
    width: 10px;
    margin-top: 16px;
    margin-left: 5px;   
}

.marginStart{
    margin-left: 3px
}

.heart-blank{
    src: "/assets/heart_balnk.png"
}

.heart-filled{
    src: "/assets/heart.png"
}

.heigth-width{
    height: 25px;
    width: 25px;
}