.content{
    position: relative;
}
.imageLike{
    position: absolute;
    top: 10px;
    right: 10px;
    height: 25px;
    width: 25px;
}
.card-img-top {
    width: 100%;
    height: 20vw;
    object-fit: cover;
  }

.marginStart{
    margin-left: 3px
}